ImageDownloader/Connected Services/ImageDownloadServiceReference/ImageDownloadService.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="ImageDownloadService" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import schemaLocation="http://localhost:9088/?xsd=xsd0" namespace="http://tempuri.org/" />
      <xsd:import schemaLocation="http://localhost:9088/?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import schemaLocation="http://localhost:9088/?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/ImageDownloadServiceLibrary" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="IImageDownloadService_GetData_InputMessage">
    <wsdl:part name="parameters" element="tns:GetData" />
  </wsdl:message>
  <wsdl:message name="IImageDownloadService_GetData_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetDataResponse" />
  </wsdl:message>
  <wsdl:message name="IImageDownloadService_saveTodaysBingWallpaper_InputMessage">
    <wsdl:part name="parameters" element="tns:saveTodaysBingWallpaper" />
  </wsdl:message>
  <wsdl:message name="IImageDownloadService_saveTodaysBingWallpaper_OutputMessage">
    <wsdl:part name="parameters" element="tns:saveTodaysBingWallpaperResponse" />
  </wsdl:message>
  <wsdl:message name="IImageDownloadService_getBingWallpapers_InputMessage">
    <wsdl:part name="parameters" element="tns:getBingWallpapers" />
  </wsdl:message>
  <wsdl:message name="IImageDownloadService_getBingWallpapers_OutputMessage">
    <wsdl:part name="parameters" element="tns:getBingWallpapersResponse" />
  </wsdl:message>
  <wsdl:message name="IImageDownloadService_getInstagramImages_InputMessage">
    <wsdl:part name="parameters" element="tns:getInstagramImages" />
  </wsdl:message>
  <wsdl:message name="IImageDownloadService_getInstagramImages_OutputMessage">
    <wsdl:part name="parameters" element="tns:getInstagramImagesResponse" />
  </wsdl:message>
  <wsdl:message name="IImageDownloadService_downloadInstagramImage_InputMessage">
    <wsdl:part name="parameters" element="tns:downloadInstagramImage" />
  </wsdl:message>
  <wsdl:message name="IImageDownloadService_downloadInstagramImage_OutputMessage">
    <wsdl:part name="parameters" element="tns:downloadInstagramImageResponse" />
  </wsdl:message>
  <wsdl:message name="IImageDownloadService_downloadInstagramImage_InvalidUrlFaultFault_FaultMessage">
    <wsdl:part xmlns:q1="http://schemas.datacontract.org/2004/07/ImageDownloadServiceLibrary" name="detail" element="q1:InvalidUrlFault" />
  </wsdl:message>
  <wsdl:portType name="IImageDownloadService">
    <wsdl:operation name="GetData">
      <wsdl:input wsaw:Action="http://tempuri.org/IImageDownloadService/GetData" message="tns:IImageDownloadService_GetData_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IImageDownloadService/GetDataResponse" message="tns:IImageDownloadService_GetData_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="saveTodaysBingWallpaper">
      <wsdl:input wsaw:Action="http://tempuri.org/IImageDownloadService/saveTodaysBingWallpaper" message="tns:IImageDownloadService_saveTodaysBingWallpaper_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IImageDownloadService/saveTodaysBingWallpaperResponse" message="tns:IImageDownloadService_saveTodaysBingWallpaper_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="getBingWallpapers">
      <wsdl:input wsaw:Action="http://tempuri.org/IImageDownloadService/getBingWallpapers" message="tns:IImageDownloadService_getBingWallpapers_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IImageDownloadService/getBingWallpapersResponse" message="tns:IImageDownloadService_getBingWallpapers_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="getInstagramImages">
      <wsdl:input wsaw:Action="http://tempuri.org/IImageDownloadService/getInstagramImages" message="tns:IImageDownloadService_getInstagramImages_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IImageDownloadService/getInstagramImagesResponse" message="tns:IImageDownloadService_getInstagramImages_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="downloadInstagramImage">
      <wsdl:input wsaw:Action="http://tempuri.org/IImageDownloadService/downloadInstagramImage" message="tns:IImageDownloadService_downloadInstagramImage_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IImageDownloadService/downloadInstagramImageResponse" message="tns:IImageDownloadService_downloadInstagramImage_OutputMessage" />
      <wsdl:fault wsaw:Action="http://tempuri.org/IImageDownloadService/downloadInstagramImageInvalidUrlFaultFault" name="InvalidUrlFaultFault" message="tns:IImageDownloadService_downloadInstagramImage_InvalidUrlFaultFault_FaultMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="BasicHttpBinding_IImageDownloadService" type="tns:IImageDownloadService">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="GetData">
      <soap:operation soapAction="http://tempuri.org/IImageDownloadService/GetData" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="saveTodaysBingWallpaper">
      <soap:operation soapAction="http://tempuri.org/IImageDownloadService/saveTodaysBingWallpaper" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getBingWallpapers">
      <soap:operation soapAction="http://tempuri.org/IImageDownloadService/getBingWallpapers" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getInstagramImages">
      <soap:operation soapAction="http://tempuri.org/IImageDownloadService/getInstagramImages" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="downloadInstagramImage">
      <soap:operation soapAction="http://tempuri.org/IImageDownloadService/downloadInstagramImage" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
      <wsdl:fault name="InvalidUrlFaultFault">
        <soap:fault use="literal" name="InvalidUrlFaultFault" namespace="" />
      </wsdl:fault>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="ImageDownloadService">
    <wsdl:port name="BasicHttpBinding_IImageDownloadService" binding="tns:BasicHttpBinding_IImageDownloadService">
      <soap:address location="http://localhost:9088/ImageDownloadService" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>